#courseAdvice{
   text-align: center;
}

#courseAdvice h1{
   color: #303f9f;
   font-family: inherit;
   font-size: 2rem;
   font-weight: normal;
}

.button:hover {
   color: #5c6bc0;
   transform: scale(1.05)
}