#enrolment-advice {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
}

#enrolment-title {
  color: #3c763d;
  text-transform: uppercase;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
}

.advice-select {
  max-width: 50%;
  float: left;
}
.advice-body {
  max-width: 50%;
  border: 1px solid #aaa;
  line-height: 1.5;
  font-size: 1.1rem;
  padding: 15px;
  float: right;
}
.advice-body span {
  color: #990012;
}

.advice-title {
  border: 1px solid #aaa;
  margin-top: 1em;
  cursor: pointer;
  transition: all .2s ease-in;
}
.advice-title:hover {
  color: #7bc8a4;
}
.advice-title.selected {
  background-color: #7bc8a4;
  color: #fff;
}
.advice-title.selected:hover {
  background-color: #fff;
  color: #7bc8a4;
}
.advice-title h2 {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.2rem;
  padding: 15px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: normal;
}
